# Virtual environments
venv/
env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDEs / Editors (VSCode, PyCharm, etc.)
.vscode/
.idea/